<div *ngIf="profile">
    <nz-affix [nzOffsetTop]="0" [nzTarget]="core.devicesContentWrapper.nativeElement" (nzChange)="affixEvent($event)">
        <nz-page-header
            class="page-header"
            [ngClass]="{ affixed: isAffixed }"
            nzBackIcon
            [nzTitle]="'Port Profile ' + profile.name"
            [nzSubtitle]="profile.description"
            (nzBack)="navigateUp()"
        >
        </nz-page-header>
    </nz-affix>

    <h5 style="margin-top: 35px;">PORT PROFILE CONNECTIONS</h5>
    <ul style="padding-left: 25px;">
        <li *ngFor="let profileConnection of profile.port_profile_connections">
            <a
                nz-button
                nzType="link"
                nzSize="small"
                [routerLink]="['/devices', parentDeviceId, 'port-profile-connection', profileConnection.id]"
                >{{ profileConnection.name }}</a
            >
        </li>
    </ul>

    <h5 style="margin-top: 35px;">ATTRIBUTES</h5>
    <div class="details">
        <p *ngFor="let attribute of attributes" class="attribute">
            {{ attribute.key }}:
            <span class="field-value">
                <span appCodeCopy>{{ attribute.value }}</span>
            </span>

            <button class="edit" nz-button nzType="link" nzShape="circle" (click)="editProperty(attribute.key, attribute.value)">
                <i nz-icon nzType="edit" style="font-size: 14px;"></i>
            </button>
        </p>
    </div>
</div>
