div.full-size {
    width: 100%;
    height: 100vh;
    position: relative;
}

div.full-size > div.form-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.full-size > div.form-wrapper > div.form {
    width: 300px;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
}

div.full-size > div.form-wrapper > div.form input:nth-child(n + 2) {
    margin-top: 10px;
}
