<div *ngIf="subrack">
    <nz-breadcrumb *ngIf="api.devices.length > 0">
        <nz-breadcrumb-item>
            <a [routerLink]="['/devices', parentDeviceId]">{{ api.getDeviceName(parentDeviceId) }}</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <h1>{{ subrack.name }}</h1>
    <p class="description">{{ subrack.description }}</p>

    <h5 style="margin-top: 35px;">DETAILS</h5>
    <div class="details">
        <p>
            Serial Number: <span class="field-value">{{ subrack.serial_no }}</span>
        </p>
        <p>
            Variant: <span class="field-value">{{ subrack.variant }}</span>
        </p>
        <p>
            Subrack Class: <span class="field-value">{{ subrack.subrack_class }}</span>
        </p>
        <p>
            Mode: <span class="field-value">{{ subrack.mode }}</span>
        </p>
    </div>

    <h5 style="margin-top: 35px;">TYPES</h5>
    <div class="details">
        <p>
            Planned Type: <span class="field-value">{{ subrack.planned_type }}</span>
        </p>
        <p>
            Actual Type: <span class="field-value">{{ subrack.actual_type }}</span>
        </p>
    </div>

    <h5 style="margin-top: 35px;">STATES</h5>
    <div class="details">
        <p>
            Admin State: <span class="field-value">{{ subrack.adm_state }}</span>
        </p>
        <p>
            Operating State: <span class="field-value">{{ subrack.opr_state }}</span>
        </p>
        <p>
            Error State: <span class="field-value">{{ subrack.err_state }}</span>
        </p>
    </div>

    <h5 style="margin-top: 35px;">CARDS</h5>
    <i *ngIf="cardsRequest === 'pending'" nz-icon [nzType]="'loading'" style="font-size: 24px;"></i>
    <ul *ngIf="cardsRequest === 'success'" style="padding-left: 25px;">
        <li *ngFor="let card of cards">
            <a nz-button nzType="link" nzSize="small" [routerLink]="['/devices', parentDeviceId, 'card', card.id]"
                >Card {{ card.id }}</a
            >
        </li>
    </ul>
</div>
