<div *ngIf="subrack">
    <nz-affix [nzOffsetTop]="0" [nzTarget]="core.devicesContentWrapper.nativeElement" (nzChange)="affixEvent($event)">
        <nz-page-header
            class="page-header"
            [ngClass]="{ affixed: isAffixed }"
            nzBackIcon
            [nzTitle]="'Subrack ' + subrack.name"
            [nzSubtitle]="subrack.description"
            (nzBack)="navigateUp()"
        >
        </nz-page-header>
    </nz-affix>

    <div style="margin-top: 25px;">
        <app-subrack-visual [subrack]="subrack"></app-subrack-visual>
    </div>

    <h5 style="margin-top: 35px;">CARDS</h5>
    <ul style="padding-left: 25px;">
        <li *ngFor="let card of subrack.cards">
            <a nz-button nzType="link" nzSize="small" [routerLink]="['/devices', parentDeviceId, 'card', card.id]">{{ card.name }}</a>
        </li>
    </ul>

    <h5 style="margin-top: 35px;">DETAILS</h5>
    <div class="details">
        <p>
            Serial Number:
            <span class="field-value"
                ><span appCodeCopy>{{ subrack.serial_no }}</span></span
            >

            <button class="edit" nz-button nzType="link" nzShape="circle" (click)="editProperty('serial_no', subrack.serial_no)">
                <i nz-icon nzType="edit" style="font-size: 14px;"></i>
            </button>
        </p>
        <p>
            Variant:
            <span class="field-value"
                ><span appCodeCopy>{{ subrack.variant }}</span></span
            >

            <button class="edit" nz-button nzType="link" nzShape="circle" (click)="editProperty('variant', subrack.variant)">
                <i nz-icon nzType="edit" style="font-size: 14px;"></i>
            </button>
        </p>
        <p>
            Subrack Class:
            <span class="field-value"
                ><span appCodeCopy>{{ subrack.subrack_class }}</span></span
            >
            <button class="edit" nz-button nzType="link" nzShape="circle" (click)="editProperty('subrack_class', subrack.subrack_class)">
                <i nz-icon nzType="edit" style="font-size: 14px;"></i>
            </button>
        </p>
        <p>
            Mode:
            <span class="field-value"
                ><span appCodeCopy>{{ subrack.mode }}</span></span
            >
            <button class="edit" nz-button nzType="link" nzShape="circle" (click)="editProperty('mode', subrack.mode)">
                <i nz-icon nzType="edit" style="font-size: 14px;"></i>
            </button>
        </p>
    </div>

    <h5 style="margin-top: 35px;">TYPES</h5>
    <div class="details">
        <p>
            Planned Type:
            <span class="field-value"
                ><span appCodeCopy>{{ subrack.planned_type }}</span></span
            >
            <button class="edit" nz-button nzType="link" nzShape="circle" (click)="editProperty('planned_type', subrack.planned_type)">
                <i nz-icon nzType="edit" style="font-size: 14px;"></i>
            </button>
        </p>
        <p>
            Actual Type:
            <span class="field-value"
                ><span appCodeCopy>{{ subrack.actual_type }}</span></span
            >
            <button class="edit" nz-button nzType="link" nzShape="circle" (click)="editProperty('actual_type', subrack.actual_type)">
                <i nz-icon nzType="edit" style="font-size: 14px;"></i>
            </button>
        </p>
    </div>

    <h5 style="margin-top: 35px;">STATES</h5>
    <div class="details">
        <p>
            Admin State:
            <span class="field-value"
                ><span appCodeCopy>{{ subrack.admin_state }}</span></span
            >
            <button class="edit" nz-button nzType="link" nzShape="circle" (click)="editProperty('admin_state', subrack.admin_state)">
                <i nz-icon nzType="edit" style="font-size: 14px;"></i>
            </button>
        </p>
        <p>
            Operating State:
            <span class="field-value"
                ><span appCodeCopy>{{ subrack.operational_state }}</span></span
            >
            <button
                class="edit"
                nz-button
                nzType="link"
                nzShape="circle"
                (click)="editProperty('operational_state', subrack.operational_state)"
            >
                <i nz-icon nzType="edit" style="font-size: 14px;"></i>
            </button>
        </p>
        <p>
            Error State:
            <span class="field-value"
                ><span appCodeCopy>{{ subrack.err_state }}</span></span
            >
            <button class="edit" nz-button nzType="link" nzShape="circle" (click)="editProperty('err_state', subrack.err_state)">
                <i nz-icon nzType="edit" style="font-size: 14px;"></i>
            </button>
        </p>
    </div>
</div>
