<div class="settings">
    <h1>Softbox</h1>

    <h3>About</h3>
    <p>Build Version: {{ build.version }}</p>
    <p>Commit Hash: {{ build.hash }}</p>
    <p>Build Message: {{ build.message || "No message." }}</p>

    <h3 style="margin-top: 35px;">Connection</h3>
    <p>Host: {{ auth.credentials.protocol }}://{{ auth.credentials.host }}:{{ auth.credentials.port }}</p>
    <p>Authorization: {{ auth.credentials.auth.enabled ? "Enabled" : "Disabled" }}</p>
    <p *ngIf="auth.credentials.auth.enabled">Authorization Type: {{ auth.credentials.auth.type }}</p>

    <button nz-button nzType="danger" style="margin-top: 10px;" (click)="confirmCredentialsRemoval()">Remove</button>
</div>
