<div class="wrapper">
    <div class="terminal">
        <nz-skeleton [nzActive]="true" *ngIf="terminalInit === 'pending'"></nz-skeleton>

        <div class="content" *ngIf="terminalInit === 'success'" #terminalContentElement>
            <p>Setting up new virutal device {{ device.vendor }} {{ device.model }} {{ device.version }}...<br /><br /></p>

            <p *ngFor="let line of terminalContent">
                <span class="timestamp">[{{ line.timestamp }}] </span>
                <span appCodeCopy>{{ line.body }}</span>
            </p>

            <p *ngIf="commandRequest === 'pending'" class="awaiting">
                <i nz-icon nzType="loading" nzTheme="outline"></i> Awaiting Response...
            </p>
        </div>

        <div *ngIf="commandParts && commandParts.length > 0" class="command-line">
            <nz-divider></nz-divider>

            <div class="command-values">
                <span>$ </span>
                <div class="command">
                    <ng-container *ngFor="let part of commandParts; let i = index">
                        <ng-container *ngIf="part.type === 'value'">
                            <input
                                nz-input
                                nzSize="small"
                                [placeholder]="part.part"
                                [(ngModel)]="commandParts[i].value"
                                class="inline-value"
                                appPlaceholderWidth
                            />
                        </ng-container>

                        <span *ngIf="part.type === 'part'">{{ part.part }} </span>
                    </ng-container>
                </div>

                <div>
                    <button nz-button style="margin-right: 10px;" (click)="copyToClipboard(getCommand())">
                        <i nz-icon nzType="copy"></i>
                    </button>
                    <button nz-button nzType="primary" (click)="runCommand(getCommand())"><i nz-icon nzType="arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="commands" *ngIf="terminalInit === 'success'">
        <nz-list nzBordered nzSize="small">
            <nz-list-header style="padding: 8px;">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="filter(searchTerm)" />
                </nz-input-group>

                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
            </nz-list-header>
            <nz-list-item *ngFor="let command of filteredCommands">
                <div class="command">
                    <p class="command">
                        <span>$ </span>
                        <span nz-tooltip nzTooltipTitle="Click to run command" (click)="prepareCommand(command.command)">
                            {{ command.command }}
                        </span>
                    </p>
                    <p class="description">{{ command.description }}</p>
                </div>
            </nz-list-item>
        </nz-list>
    </div>
</div>
