<div *ngIf="portProfileConnection">
    <nz-affix [nzOffsetTop]="0" [nzTarget]="core.devicesContentWrapper.nativeElement" (nzChange)="affixEvent($event)">
        <nz-page-header
            class="page-header"
            [ngClass]="{ affixed: isAffixed }"
            nzBackIcon
            [nzTitle]="portProfileConnection.name"
            [nzSubtitle]="portProfileConnection.description"
            (nzBack)="navigateUp()"
        >
        </nz-page-header>
    </nz-affix>

    <h5 style="margin-top: 35px;">ATTRIBUTES</h5>
    <div class="details">
        <p *ngFor="let attribute of attributes">
            {{ attribute.key }}:
            <span class="field-value"
                ><span appCodeCopy>{{ attribute.value }}</span></span
            >
        </p>
    </div>
</div>
