<div class="page">
    <ul class="menu" nz-menu nzMode="inline">
        <li style="margin-top: 12px;" nz-menu-item routerLink="/devices" [nzMatchRouter]="true" [nzMatchRouterExact]="true">
            All Devices
        </li>

        <nz-divider style="margin: 12px 0;"></nz-divider>

        <li *ngFor="let name of api.vendorNames" nz-submenu [nzTitle]="name">
            <ul>
                <li nz-menu-item *ngFor="let device of api.vendors[name].devices" [routerLink]="[device.id]" [nzMatchRouter]="true">
                    {{ device.model }} {{ device.version }}
                </li>
            </ul>
        </li>

        <nz-divider style="margin: 12px 0;"></nz-divider>

        <li nz-menu-item><i nz-icon nzType="plus" nzTheme="outline"></i>Create New</li>
    </ul>

    <div class="content" #contentWrapper>
        <router-outlet></router-outlet>
    </div>
</div>
