<ul
    class="menu"
    [ngStyle]="{ 'padding-left': electronService.isElectron ? '105px' : '0' }"
    nz-menu
    nzMode="horizontal"
    style="-webkit-app-region: drag;"
>
    <li class="logo" nz-menu-item nzSelected routerLink="/" [nzMatchRouter]="true" [nzMatchRouterExact]="true">
        <i class="loading" *ngIf="core.requestPending; else appLogo" nz-icon [nzType]="'loading'"></i>
    </li>

    <li nz-menu-item routerLink="devices" [nzMatchRouter]="true">
        Devices
    </li>
    <li nz-menu-item routerLink="templates" [nzMatchRouter]="true">
        Templates
    </li>
</ul>

<router-outlet></router-outlet>

<ng-template #appLogo>
    <img src="./assets/images/logo.svg" />
</ng-template>
