<form #form="ngForm">
    <p>You are about to create a new pair of Credentials for the User {{ userName }}.</p>

    <h5>USERNAME</h5>
    <input
        [(ngModel)]="credentialsForm.username"
        #username="ngModel"
        name="username"
        style="width: 100%; margin-top: 10px"
        nz-input
        placeholder="Username"
        required
    />

    <h5 style="margin-top: 20px">PASSWORD</h5>
    <input
        [(ngModel)]="credentialsForm.password"
        #password="ngModel"
        name="password"
        style="width: 100%; margin-top: 10px"
        nz-input
        placeholder="Password"
        required
    />

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="default" style="margin-right: 10px" (click)="modal.close()">Cancel</button>
        <button
            nz-button
            nzType="primary"
            [disabled]="form.invalid"
            [nzLoading]="createCredentialsRequest === 'pending'"
            (click)="createCredentials()"
        >
            Create Credentials
        </button>
    </div>
</form>
