<div *ngIf="cpe">
    <nz-affix [nzOffsetTop]="0" [nzTarget]="core.devicesContentWrapper.nativeElement" (nzChange)="affixEvent($event)">
        <nz-page-header
            class="page-header"
            [ngClass]="{ affixed: isAffixed }"
            nzBackIcon
            [nzTitle]="'CPE ' + cpe.name"
            [nzSubtitle]="cpe.description"
            (nzBack)="navigateUp()"
        >
        </nz-page-header>
    </nz-affix>

    <div style="margin-top: 25px;">
        <app-cpe-visual [cpe]="cpe"></app-cpe-visual>
    </div>

    <h5 style="margin-top: 35px;">CPE PORTS</h5>
    <i *ngIf="cpePortsRequest === 'pending'" nz-icon [nzType]="'loading'" style="font-size: 24px;"></i>
    <ul *ngIf="cpePortsRequest === 'success'" style="padding-left: 25px;">
        <li *ngFor="let cpePort of cpePorts">
            <a nz-button nzType="link" nzSize="small" [routerLink]="['/devices', parentDeviceId, 'cpe-port', cpePort.id]"
                >CPE Port {{ cpePort.id }}</a
            >
        </li>
    </ul>

    <h5 style="margin-top: 35px;">ATTRIBUTES</h5>
    <div class="details">
        <p *ngFor="let attribute of attributes">
            {{ attribute.key }}:
            <span class="field-value"
                ><span appCodeCopy>{{ attribute.value }}</span></span
            >
        </p>
    </div>
</div>
