<div *ngIf="device">
    <h1>{{ device.vendor }} {{ device.model }} {{ device.version }}</h1>
    <p class="description">{{ device.description }}</p>

    <!-- Quick Access buttons -->
    <button
        nz-button
        nzShape="circle"
        nzType="primary"
        nz-tooltip
        nzTooltipTitle="Connect with SSH"
        (click)="openSshModal(ssh)"
        [disabled]="!device.credential_details || device.credential_details.length === 0"
    >
        <i nz-icon nzType="link" nzTheme="outline"></i>
    </button>
    <button
        nz-button
        nzShape="circle"
        nzType="primary"
        nz-tooltip
        nzTooltipTitle="Open in-app Terminal"
        [routerLink]="['terminal']"
        disabled
    >
        <i nz-icon nzType="code" nzTheme="outline"></i>
    </button>
    <button nz-button nzShape="circle" nzType="primary" nz-tooltip nzTooltipTitle="Clone Device" (click)="cloneDevice()">
        <i nz-icon nzType="copy" nzTheme="outline"></i>
    </button>
    <button nz-button nzShape="circle" nzType="danger" nz-tooltip nzTooltipTitle="Delete Device" (click)="deleteDevice()">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
    </button>

    <!-- Users List -->
    <h5 style="margin-top: 35px">USERS</h5>

    <p *ngIf="device.user_details?.length === 0">Device has no User(s)</p>
    <ul *ngIf="device.user_details?.length > 0" style="padding-left: 25px">
        <li *ngFor="let user of device.user_details">
            <a nz-button nzType="link" nzSize="small" [routerLink]="['user', user.id]">
                <nz-badge
                    nz-tooltip
                    [nzTooltipTitle]="'User is ' + user.status"
                    [nzStatus]="user.status === 'online' ? 'success' : 'error'"
                ></nz-badge>
                {{ user.name || "Unnamed User" }}
            </a>
        </li>

        <li>
            <a nz-button nzType="link" nzSize="small" (click)="openCreateUserModal()">Add User</a>
        </li>
    </ul>

    <!-- Device Preview -->
    <!-- <div style="margin-top: 25px;">
        <app-device-visual [device]="device"> </app-device-visual>
    </div> -->

    <!-- Device details -->
    <h5 style="margin-top: 35px">DETAILS</h5>
    <p style="margin: 0">Vendor: {{ device.vendor }}</p>
    <p style="margin: 0">Model: {{ device.model }}</p>
    <p style="margin: 0">Version: {{ device.version }}</p>

    <!-- Subracks list -->
    <h5 style="margin-top: 35px">SUBRACKS</h5>
    <i *ngIf="subracksRequest === 'pending'" nz-icon [nzType]="'loading'" style="font-size: 24px"></i>

    <p *ngIf="subracksRequest === 'success' && subracks.length === 0">Device has no Subrack(s)</p>
    <ul *ngIf="subracksRequest === 'success'" style="padding-left: 25px">
        <li *ngFor="let subrack of subracks">
            <a nz-button nzType="link" nzSize="small" [routerLink]="['subrack', subrack.id]">{{ subrack.name || "Unnamed Subrack" }}</a>
        </li>

        <li>
            <a nz-button nzType="link" nzSize="small" (click)="openCreateSubracksModal()">Add Subrack(s)</a>
        </li>
    </ul>

    <!-- Profiles list -->
    <h5 style="margin-top: 35px">PROFILES</h5>
    <i *ngIf="profilesRequest === 'pending'" nz-icon [nzType]="'loading'" style="font-size: 24px"></i>

    <p *ngIf="profilesRequest === 'success' && profiles.length === 0">Device has no Profile(s)</p>
    <ul *ngIf="profilesRequest === 'success'" style="padding-left: 25px">
        <li *ngFor="let profile of profiles">
            <a nz-button nzType="link" nzSize="small" [routerLink]="['port-profile', profile.id]">Profile {{ profile.id }}</a>
        </li>

        <li>
            <a nz-button nzType="link" nzSize="small">Add Profile(s)</a>
        </li>
    </ul>

    <!-- V-Lans list -->
    <h5 style="margin-top: 35px">V-LANS</h5>
    <i *ngIf="vlansRequest === 'pending'" nz-icon [nzType]="'loading'" style="font-size: 24px"></i>

    <p *ngIf="vlansRequest === 'success' && vlans.length === 0">Device has no V-Lan(s)</p>

    <ul *ngIf="vlansRequest === 'success'" style="padding-left: 25px">
        <li *ngFor="let vlan of vlans">
            <a nz-button nzType="link" nzSize="small" [routerLink]="['vlan', vlan.id]">{{ vlan.name }}</a>
        </li>

        <li>
            <a nz-button nzType="link" nzSize="small">Add V-Lan(s)</a>
        </li>
    </ul>
</div>

<!-- SSH Command modal template -->
<ng-template #ssh>
    <h5>SSH COMMAND</h5>
    <div class="code">
        <p>
            <span style="user-select: none">$ </span
            ><span appCodeCopy>ssh {{ device.credential_details[0].username }}@{{ device.mgmt_address }} -p {{ device.network_port }}</span>
        </p>
    </div>

    <h5 style="margin-top: 20px">PASSWORD</h5>
    <div class="code">
        <p>
            <span appCodeCopy appHidePassword>{{ device.credential_details[0].password }}</span>
        </p>
    </div>
</ng-template>
