*:focus {
    outline: none;
}

div.page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

div.page > ul.menu {
    width: 250px;
    height: calc(100vh - 64px);
}

div.page > div.content {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    max-height: calc(100vh - 64px);
    overflow: scroll;
}

span.code {
    font-family: monospace;
    padding: 3px 3px 3px 6px;
    color: #ffffff;
    font-weight: 700;
}

div.code {
    font-family: monospace;
    padding: 5px 5px 5px 10px;
    border-radius: 4px;
    border: 2px solid #ffffff6e;
    color: #ffffff;
}

div.code > p {
    margin: 0;
}

div.ant-list-items {
    max-height: calc(100vh - 175px);
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
