<form #form="ngForm">
    <p>
        You are about to add {{ createCount }} new {{ createCount === 1 ? "CPE" : "CPEs" }} to ONT Port {{ ontPortName }} (ID:
        {{ ontPortId }}).
    </p>

    <h5>CPE COUNT</h5>
    <nz-slider [(ngModel)]="createCount" #count="ngModel" name="count" [nzMin]="1" [nzMax]="4"></nz-slider>

    <h5 style="margin-top: 20px;">CPE DETAILS</h5>
    <input
        [(ngModel)]="cpeForm.description"
        #description="ngModel"
        name="description"
        style="width: 100%; margin-top: 10px;"
        nz-input
        placeholder="Description"
        required
    />

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="default" style="margin-right: 10px;" (click)="modal.close()">Cancel</button>
        <button nz-button nzType="primary" [disabled]="form.invalid" [nzLoading]="createCpesReqeust === 'pending'" (click)="createCpes()">
            Create CPEs
        </button>
    </div>
</form>
