<div *ngIf="card">
    <nz-breadcrumb *ngIf="api.devices.length > 0">
        <nz-breadcrumb-item>
            <a [routerLink]="['/devices', parentDeviceId]">{{ api.getDeviceName(parentDeviceId) }}</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <h1>{{ card.name }}</h1>
    <p class="description">{{ card.description }}</p>

    <h5 style="margin-top: 35px;">ATTRIBUTES</h5>
    <div class="details">
        <p *ngFor="let attribute of attributes">
            {{ attribute.key }}: <span class="field-value">{{ attribute.value }}</span>
        </p>
    </div>

    <h5 style="margin-top: 35px;">PORTS</h5>
    <i *ngIf="cardsRequest === 'pending'" nz-icon [nzType]="'loading'" style="font-size: 24px;"></i>
    <ul *ngIf="cardsRequest === 'success'" style="padding-left: 25px;">
        <li *ngFor="let card of cards">
            <a nz-button nzType="link" nzSize="small" [routerLink]="['/devices', parentDeviceId, 'card', card.id]"
                >Card {{ card.id }}</a
            >
        </li>
    </ul>
</div>
